force-app/main/default/flows/Vehicle_Ready_for_Test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PostOnChatter</name>
        <label>PostOnChatter</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ToChatterPost</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>DecisionVehicleTest</name>
        <label>DecisionVehicleTest</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Vehicle_Ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Repair_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finished</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateVehicleTest</targetReference>
            </connector>
            <label>Vehicle Ready</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Vehicle Ready for Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vehicle Ready for Test</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateVehicleTest</name>
        <label>UpdateVehicleTest</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>PostOnChatter</targetReference>
        </connector>
        <inputAssignments>
            <field>Vehicle_Test__c</field>
            <value>
                <stringValue>Authorized</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DecisionVehicleTest</targetReference>
        </connector>
        <object>Repair_Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ToChatterPost</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Name} Is finished! Now the vehicle can be tested before being delivered to the customer!</text>
    </textTemplates>
</Flow>
